@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}
nav{
  background-color: rgba(226, 161, 124, 0.932);
  height: 100px;
  font-size: 24px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 60px;
}
nav a{
  margin-right:10px;
  text-decoration: none;
  font-weight: bold;
  padding: 0px 10px;
  background-color: rgb(84, 98, 226);
  width: 100px;
  border-radius: 8px;
  color: yellow;
  
}
nav a:hover{
  width: 100px;
  background-color: rgb(226, 97, 226);
  border-radius: 8px;
  color: rgb(65, 63, 63);
}


.contact{
  font-style: italic;
  background-color: cyan;
}
.home{
  font-style: normal;
  background-color: chartreuse;
  font-size: 30px;
  padding-left: 20px;
  font-style: italic;
  font-weight: bold;
}

.services{
  font-style: italic;
  background-color: rgba(194, 153, 138, 0.37);
  font-size: 30px;
  padding-left: 20px;
  font-style: italic;
  font-weight: bold;
  text-align: justify;
}
.services p{
  font-weight: 100;
}

.about{
  font-style: normal;
  background-color: rgba(0, 110, 255, 0.658);
  font-size: 30px;
  padding-left: 20px;
  font-style: italic;
  font-weight: bold;
}
.contact{
  font-style: normal;
  background-color: rgba(204, 75, 107, 0.466);
  font-size: 30px;
  padding-left: 20px;
  font-style: italic;
  font-weight: bold;
}

